@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@900&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    height: 50px;
    background-color: black;
}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span{
    color: #0C71E9;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: #0C71E9;
    transition: .4s;
}
.hello{
    margin-top: 200px;
}
